.locationList {
  /* border: solid 1px; */
  margin-top: 10px;
  max-height: 80vh;
  overflow-y: auto;
}

.forecastExtended {
  width: 100%;
}

@media (max-width: 48em) {
  .locationList {
    max-height: 30vh;
    overflow-y: auto;
  }
}
